In [25]:
def parse_events_file(file_path):
    # Open the JSON file
    with open(file_path) as f:
        data = json.load(f)

    # Define empty lists to hold the flattened data
    event_dicts = []
    tactics_dicts = []

    # Loop through each event in the JSON data
    for event in data:
        # Extract the relevant fields from the event object
        event_dict = {
            'id': event.get('id', None),
            'index': event.get('index', None),
            'period': event.get('period', None),
            'timestamp': event.get('timestamp', None),
            'minute': event.get('minute', None),
            'second': event.get('second', None),
            'type_id': event['type'].get('id', None),
            'type_name': event['type'].get('name', None),
            'possession': event.get('possession', None),
            'possession_team_id': event['possession_team'].get('id', None),
            'possession_team_name': event['possession_team'].get('name', None),
            'play_pattern_id': event['play_pattern'].get('id', None),
            'play_pattern_name': event['play_pattern'].get('name', None),
            'team_id': event['team'].get('id', None),
            'team_name': event['team'].get('name', None),
            'duration': event.get('duration', None)
        }

        # Extract the location data
        location = event.get('location', None)
        if location:
            event_dict['location_x'] = location[0]
            event_dict['location_y'] = location[1]

        # Extract the player data
        player = event.get('player', None)
        if player:
            for key, value in player.items():
                event_dict[f'player_{key}'] = value

        # Extract the tactics data
        tactics = event.get('tactics', None)
        if tactics:
            tactics_dict = {
                'id': event.get('id', None),
                'index': event.get('index', None),
                'period': event.get('period', None),
                'timestamp': event.get('timestamp', None),
                'formation': tactics.get('formation', None)
            }
            lineup = tactics.get('lineup', [])
            for i in range(len(lineup)):
                for key, value in lineup[i].items():
                    tactics_dict[f'player_{i+1}_{key}'] = value

            # Add the flattened tactics data to the list
            tactics_dicts.append(tactics_dict)

        # Add the flattened event to the list
        event_dicts.append(event_dict)

    # Create a dataframe from the flattened event data
    df_events = pd.DataFrame(event_dicts)

    # Create a dataframe from the flattened tactics data
    df_tactics = pd.DataFrame(tactics_dicts)

    return df_events, df_tactics

In [26]:
# Load the data into a dataframe
df_events, df_tactics = parse_events_file('./statsbomb json files/g2312152/ManCity_LeicesterCity_events.json')
df_events

,id,index,period,timestamp,minute,second,type_id,type_name,possession,possession_team_id,possession_team_name,play_pattern_id,play_pattern_name,team_id,team_name,duration,location_x,location_y,player_id,player_name
0,c405b0ec-dc6b-453d-8e18-82fd04bf57a5,1,1,00:00:00.000,0,0,35,Starting XI,1,746,Manchester City WFC,1,Regular Play,746,Manchester City WFC,0.000000,NaN,NaN,NaN,NaN
1,02836c67-599b-4023-a8ba-f89414d03b74,2,1,00:00:00.000,0,0,35,Starting XI,1,746,Manchester City WFC,1,Regular Play,2652,Leicester City WFC,0.000000,NaN,NaN,NaN,NaN
2,a51949e7-fa1e-4a5c-aec9-161fa2280e79,3,1,00:00:00.000,0,0,18,Half Start,1,746,Manchester City WFC,1,Regular Play,746,Manchester City WFC,0.000000,NaN,NaN,NaN,NaN
3,6c33357b-65d2-463c-add0-f82931d87a7f,4,1,00:00:00.000,0,0,18,Half Start,1,746,Manchester City WFC,1,Regular Play,2652,Leicester City WFC,0.000000,NaN,NaN,NaN,NaN
4,f86a49e6-2d11-4e89-8c54-a736720a8b0d,5,1,00:00:00.793,0,0,30,Pass,2,746,Manchester City WFC,9,From Kick Off,746,Manchester City WFC,1.106021,60.0,40.0,25554.0,Khadija Monifa Shaw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,67de2c68-280d-4077-857c-5f1393db1c09,3471,2,00:48:30.232,93,30,30,Pass,146,746,Manchester City WFC,4,From Throw In,746,Manchester City WFC,2.976998,97.8,49.5,6818.0,Hayley Emma Raso
3471,ab2845ef-5d57-42cc-978f-e8746a626d5a,3472,2,00:48:33.209,93,33,42,Ball Receipt*,146,746,Manchester City WFC,4,From Throw In,746,Manchester City WFC,NaN,117.0,57.2,25554.0,Khadija Monifa Shaw
3472,72777269-f0c3-44c6-8f76-a364756fcc27,3473,2,00:49:03.625,94,3,30,Pass,147,2652,Leicester City WFC,7,From Goal Kick,2652,Leicester City WFC,1.709368,6.0,44.0,15576.0,Kirstie Levell
3473,0fb46d55-21ef-4416-b403-aaf506b9a43b,3474,2,00:49:05.382,94,5,34,Half End,147,2652,Leicester City WFC,7,From Goal Kick,2652,Leicester City WFC,0.000000,NaN,NaN,NaN,NaN
3474,257a3140-1291-46c2-84c3-a58dfc7d1991,3475,2,00:49:05.382,94,5,34,Half End,147,2652,Leicester City WFC,7,From Goal Kick,746,Manchester City WFC,0.000000,NaN,NaN,NaN,NaN

In [27]:
df_tactics

,id,index,period,timestamp,formation,player_1_player,player_1_position,player_1_jersey_number,player_2_player,player_2_position,...,player_8_jersey_number,player_9_player,player_9_position,player_9_jersey_number,player_10_player,player_10_position,player_10_jersey_number,player_11_player,player_11_position,player_11_jersey_number
0,c405b0ec-dc6b-453d-8e18-82fd04bf57a5,1,1,00:00:00.000,433,"{'id': 4637, 'name': 'Ellie Roebuck'}","{'id': 1, 'name': 'Goalkeeper'}",1,"{'id': 221888, 'name': 'Kerstin Yasmijn Caspar...","{'id': 2, 'name': 'Right Back'}",...,7,"{'id': 15570, 'name': 'Chloe Kelly'}","{'id': 17, 'name': 'Right Wing'}",9,"{'id': 15555, 'name': 'Lauren Hemp'}","{'id': 21, 'name': 'Left Wing'}",11,"{'id': 25554, 'name': 'Khadija Monifa Shaw'}","{'id': 23, 'name': 'Center Forward'}",21
1,02836c67-599b-4023-a8ba-f89414d03b74,2,1,00:00:00.000,4411,"{'id': 15576, 'name': 'Kirstie Levell'}","{'id': 1, 'name': 'Goalkeeper'}",28,"{'id': 18155, 'name': 'Erin Simon'}","{'id': 2, 'name': 'Right Back'}",...,16,"{'id': 24239, 'name': 'Jemma Elizabeth Purfield'}","{'id': 16, 'name': 'Left Midfield'}",23,"{'id': 16374, 'name': 'Aileen Whelan'}","{'id': 19, 'name': 'Center Attacking Midfield'}",10,"{'id': 135759, 'name': 'Shannon Oâ€™Brien'}","{'id': 23, 'name': 'Center Forward'}",27
2,5c843299-276e-4f36-8016-c83fc32c2c22,2693,2,00:24:09.885,4411,"{'id': 15576, 'name': 'Kirstie Levell'}","{'id': 1, 'name': 'Goalkeeper'}",28,"{'id': 18155, 'name': 'Erin Simon'}","{'id': 2, 'name': 'Right Back'}",...,20,"{'id': 135759, 'name': 'Shannon Oâ€™Brien'}","{'id': 16, 'name': 'Left Midfield'}",27,"{'id': 16374, 'name': 'Aileen Whelan'}","{'id': 19, 'name': 'Center Attacking Midfield'}",10,"{'id': 135758, 'name': 'Natasha Jane Flint'}","{'id': 23, 'name': 'Center Forward'}",7
3,c55c4535-be63-4698-927f-b0f7df5c8ee3,3029,2,00:37:28.601,433,"{'id': 4637, 'name': 'Ellie Roebuck'}","{'id': 1, 'name': 'Goalkeeper'}",1,"{'id': 221888, 'name': 'Kerstin Yasmijn Caspar...","{'id': 2, 'name': 'Right Back'}",...,7,"{'id': 6818, 'name': 'Hayley Emma Raso'}","{'id': 17, 'name': 'Right Wing'}",13,"{'id': 191851, 'name': 'Julie Blakstad'}","{'id': 21, 'name': 'Left Wing'}",41,"{'id': 25554, 'name': 'Khadija Monifa Shaw'}","{'id': 23, 'name': 'Center Forward'}",21